<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="JsonFileAppender" type="log4net.Appender.FileAppender">
      <file value="C://Log//log.json" />
      <layout type="MTFramework.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
    </appender>
    <appender name="AdoNetAppender_Oracle" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connection type="System.Data.OracleClient.OracleConnection, System.Data.OracleClient, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Data Source=ORA12C;User ID=NORTHWIND;Password=NORTHWIND"/>
      <commandText value="INSERT INTO LOGS (DETAIL,LOGAUDIT) VALUES (:logDetail,:log_audit)" />
      <parameter>
        <parameterName value=":logDetail" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="MTFramework.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
      </parameter>
      <parameter>
        <parameterName value=":log_audit" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </parameter>
    </appender>
    <logger name="JsonFileLogger">
      <level value="ALL" />
      <appender-ref ref="JsonFileAppender" />
    </logger>
    <logger name="DatabaseLogger">
      <level value="All" />
      <appender-ref ref="AdoNetAppender_Oracle" />
    </logger>
  </log4net>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="C:\Log\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>